body{
    margin:0;
    font-family: 'Merriweather Sans', sans-serif;
     background-image: url(images/eight_horns.png)
}

ul{
    margin:0;
    padding:0;
}

header{
    background-color: #8b8589;
    padding-top:20px;
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Pacifico', cursive;
}

html,body {
    height:100%;
}

header a {
    color:#ffffff;
    text-decoration: none;
}

header ul {
    list-style: none;
}

header li {
   display: inline-block;
    width: 32%;
    text-align: center;
   
}

body p {
    padding:40px;
   text-align: center;
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
}

footer {
    background-color:#8b8589; 
    margin-top: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;

}

footer li {
    display: inline-block;
}

.photohome {
    margin:auto;
    display:block;
    widht:160px;
    height:
}
    